.App {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Roboto Slab", serif;
  text-align: center;
}

section {
  background-color: white;
  max-width: 960px;
  border-radius: 4px;
  margin: 30px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  background-color: #c8e3d4;
}

header {
  margin-top: 50px;
}

h1 {
  font-size: 30px;

  margin-bottom: 0px;
}
h2 {
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 0px;
}

.App footer {
  font-size: 12px;
  color: #506d84;
}
